<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-fullwidth">
				<ul class="slides">
					
					<!-- slide 1 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Bộ Sưu Tập Hè">
					
					<!-- main image -->
					<img src="/images/cityowls-banner3.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
					
					<!-- Transparent Background -->
					<div class="tp-caption"
						data-x="center"
						data-y="bottom"
						data-speed="600"
						data-start="0">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption sfb fadeout large_dark"
						data-x="left"
						data-y="80"
						data-speed="500"
						data-start="1000"
						data-easing="easeOutQuad"><span class="text-default">Summer </span> Lookbook<br> Bộ Sưu Tập Hè Mới Nhất
					</div>	

					<!-- LAYER NR. 2 -->
					<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
						data-x="left"
						data-y="200"
						data-speed="500"
						data-start="1300"
						data-easing="easeOutQuad"><div class="separator-2 dark"></div>
					</div>	

					<!-- LAYER NR. 3 -->
					<div class="tp-caption sfb fadeout medium_dark hidden-xs"
						data-x="left"
						data-y="210"
						data-speed="500"
						data-start="1300"
						data-easing="easeOutQuad"
						data-endspeed="600">Thương hiệu thiết kế Nap in the Lab <br> Đã có mặt tại Fa#
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption sfb fadeout small_white text-center"
						data-x="left"
						data-y="290"
						data-speed="500"
						data-start="1600"
						data-easing="easeOutQuad"
						data-endspeed="600"><a href="#" class="btn btn-default btn-animated">Mua Ngay <i class="fa fa-arrow-right"></i></a>
					</div>

					</li>
					<!-- slide 1 end -->
					
					<!-- slide 2 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Khuyến Mại Đặc Biệt">
					
					<!-- main image -->
					<img src="/images/banner-qua-tang1.png" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
					
					<!-- Transparent Background -->
					<div class="tp-caption"
						data-x="center"
						data-y="bottom"
						data-speed="600"
						data-start="0">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption sfb fadeout text-right large_dark"
						data-x="right"
						data-y="80"
						data-speed="500"
						data-start="1000"
						data-easing="easeOutQuad">Nhận Quà <span class="text-default">Khuyến Mại</span> <br> Mỹ Phẩm Cao Cấp
					</div>	

					<!-- LAYER NR. 2 -->
					<div class="tp-caption sfb fadeout large_dark tp-resizeme hidden-xs"
						data-x="right"
						data-y="200"
						data-speed="500"
						data-start="1300"
						data-easing="easeOutQuad"><div class="separator-3 dark"></div>
					</div>	

					<!-- LAYER NR. 3 -->
					<div class="tp-caption sfb fadeout medium_dark text-right hidden-xs"
						data-x="right"
						data-y="220"
						data-speed="500"
						data-start="1300"
						data-easing="easeOutQuad"
						data-endspeed="600">Nhanh tay lên số lượng có hạn<br> 
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption sfb fadeout small_white text-right text-center"
						data-x="right"
						data-y="260"
						data-speed="500"
						data-start="1600"
						data-easing="easeOutQuad"
						data-endspeed="600"><a href="/static_pages/policy#chuong-trinh-khuyen-mai" class="btn btn-default btn-animated">Xem Ngay <i class="fa fa-arrow-right"></i></a>
					</div>
					</li>
					<!-- slide 2 end -->
					
					<!-- slide 3 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="10% Off">
					
					<!-- main image -->
					<img src="/images/banner_giam_gia_V2.png" alt="slidebg3" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
					
					<!-- Transparent Background -->
					<!--<div class="tp-caption"-->
					<!--	data-x="center"-->
					<!--	data-y="bottom"-->
					<!--	data-speed="600"-->
					<!--	data-start="0">-->
					<!--</div>-->

					<!-- LAYER NR. 1 -->
					<!--<div class="tp-caption sfb fadeout text-right large_dark"-->
					<!--	data-x="right"-->
					<!--	data-y="80"-->
					<!--	data-speed="500"-->
					<!--	data-start="1000"-->
					<!--	data-easing="easeOutQuad">Nhận Quà <span class="text-default">Khuyến Mại</span> <br> Mỹ Phẩm Cao Cấp-->
					<!--</div>	-->

					<!-- LAYER NR. 2 -->
					<!--<div class="tp-caption sfb fadeout large_dark tp-resizeme hidden-xs"-->
					<!--	data-x="right"-->
					<!--	data-y="200"-->
					<!--	data-speed="500"-->
					<!--	data-start="1300"-->
					<!--	data-easing="easeOutQuad"><div class="separator-3 dark"></div>-->
					<!--</div>	-->

					<!-- LAYER NR. 3 -->
					<!--<div class="tp-caption sfb fadeout medium_dark text-right hidden-xs"-->
					<!--	data-x="right"-->
					<!--	data-y="220"-->
					<!--	data-speed="500"-->
					<!--	data-start="1300"-->
					<!--	data-easing="easeOutQuad"-->
					<!--	data-endspeed="600">Nhanh tay lên số lượng có hạn<br> -->
					<!--</div>-->

					<!-- LAYER NR. 4 -->
					<div class="tp-caption sfb fadeout small_white text-right text-center"
						data-x="right"
						data-y="280"
						data-speed="500"
						data-start="1600"
						data-easing="easeOutQuad"
						data-endspeed="600"><a href="/register" class="btn btn-default btn-animated">Đăng Ký <i class="fa fa-arrow-right"></i></a>
					</div>
					</li>
					<!-- slide 2 end -->

					
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->

<p id="notice" style="display:none"><%= notice %></p>

<!-- section Tieu diem start -->
<!-- ================ -->
<!--<section class="section light-gray-bg clearfix">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-8 col-md-offset-2">-->
<!--				<h2 class="text-center"><strong>Tiêu điểm</strong> Fa#</h2>-->
				
<!--		</div>-->
<!--	</div>-->
<!--	<div class="owl-carousel carousel-autoplay pl-10 pr-10">-->
<!--		<div class="listing-item pl-10 pr-10 mb-20">-->
<!--			<div class="overlay-container bordered overlay-visible">-->
<!--				<img src="images/category-1.jpg" alt="">-->
<!--				<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>-->
<!--				<div class="overlay-bottom">-->
<!--					<div class="text">-->
<!--						<h3 class="title">Lookbook</h3>-->
<!--						<div class="separator light"></div>-->
<!--						<p class="small margin-clear"><em>Cảm hứng từ những thương hiệu thiết kế trẻ</em></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="listing-item pl-10 pr-10 mb-20">-->
<!--			<div class="overlay-container bordered overlay-visible">-->
<!--				<img src="images/category-2.jpg" alt="">-->
<!--				<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>-->
<!--				<div class="overlay-bottom">-->
<!--					<div class="text">-->
<!--						<h3 class="title">#FATHANGSTYLE</h3>-->
<!--						<div class="separator light"></div>-->
<!--						<p class="small margin-clear"><em>Bạn muốn xuất hiện trên Gallery của Fa#? Tag #FATHANGSTYLE vào Instagram hay Twitter của bạn nhé.</em></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="listing-item pl-10 pr-10 mb-20">-->
<!--			<div class="overlay-container bordered overlay-visible">-->
<!--				<img src="images/category-3.jpg" alt="">-->
<!--				<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>-->
<!--				<div class="overlay-bottom">-->
<!--					<div class="text">-->
<!--						<h3 class="title">Góc Designer</h3>-->
<!--						<div class="separator light"></div>-->
<!--						<p class="small margin-clear"><em>Bạn muốn biết thêm về các nhà thiết kế có mặt tại Fa#? Hãy xem blog post mới nhất về Xưởng Chấm Bi nhé.</em></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
		<!--<div class="listing-item pl-10 pr-10 mb-20 mb-20">-->
		<!--	<div class="overlay-container bordered overlay-visible">-->
		<!--		<img src="images/category-4.jpg" alt="">-->
		<!--		<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>-->
		<!--		<div class="overlay-bottom">-->
		<!--			<div class="text">-->
		<!--				<h3 class="title">Girls Night Out</h3>-->
		<!--				<div class="separator light"></div>-->
		<!--				<p class="small margin-clear"><em>Chọn ngay bộ cánh ưng ý nhất để đi chơi với hội bạn gái nào.</em></p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
		<!--<div class="listing-item pl-10 pr-10 mb-20 mb-20">-->
		<!--	<div class="overlay-container bordered overlay-visible">-->
		<!--		<img src="images/category-5.jpg" alt="">-->
		<!--		<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>-->
		<!--		<div class="overlay-bottom">-->
		<!--			<div class="text">-->
		<!--				<h3 class="title">Something Sweet</h3>-->
		<!--				<div class="separator light"></div>-->
		<!--				<p class="small margin-clear"><em>Shop the perfect gifts for your loved ones this Valentine.</em></p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
<!--		<div class="listing-item pl-10 pr-10 mb-20 mb-20">-->
<!--			<div class="overlay-container bordered overlay-visible">-->
<!--				<img src="images/category-6.jpg" alt="">-->
<!--				<a class="overlay-link" href="/static_pages/policy#chuong-trinh-khuyen-mai"><i class="fa fa-plus"></i></a>-->
<!--				<div class="overlay-bottom">-->
<!--					<div class="text">-->
<!--						<h3 class="title">Membership Reward</h3>-->
<!--						<div class="separator light"></div>-->
<!--						<p class="small margin-clear"><em>Mua nhiều, giảm lớn. Tích điểm để được giảm tới 40% cho lần mua hàng kế tiếp. </em></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	</div>-->
<!--</section>-->
<!-- section end -->
			
<!-- section start Search bar -->
<!-- ================ -->
<!--<div class="light-translucent-bg section">-->
<!--	<div class="container">-->
		<!--filters start -->
<!--		<div class="sorting-filters text-center mb-20">-->
<!--			<%= form_tag ('/searchs'), class: 'form-inline' do  %>-->
<!--				<div class="form-group">-->
<!--					<label>Sort by</label>-->
<!--					<%= select_tag 'sort_by', options_for_select([['Date', 1], ['Price', 2], ['Ratings', 3] ]), class: "form-control" %>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label>Order</label>-->
<!--						<%= select_tag 'sort', options_for_select([['Desc', 1], ['Asc', 2]]), class: "form-control" %>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label>Price $ (min/max)</label>-->
<!--					<div class="row grid-space-10">-->
<!--						<div class="col-sm-6">-->
<!--							<%= text_field_tag :min, params[:min], class: "form-control", value: 0 %>-->
<!--						</div>-->
<!--						<div class="col-sm-6">-->
<!--							<%= text_field_tag :max, params[:max], class: "form-control" %>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label>Category</label>-->
<!--					<%= select_tag 'category', options_from_collection_for_select(Category.order(:name), :id , :name), class: "form-control" %> -->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<%= submit_tag "Search" , class: "btn btn-default"%>-->
<!--				</div>-->
<!--			<% end %>-->
<!--		</div>-->
		<!--filters end -->
<!--	</div>-->
<!--</div>-->
<!-- section end -->
		
<section class="main-container">
	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<!-- pills start -->
				<!-- ================ -->
				<!-- Nav tabs -->
				<ul class="nav nav-pills" role="tablist">
					<li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="icon-star"></i> Mới nhất</a></li>
					<li><a href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Nổi bật</a></li>
					<li><a href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Bán chạy</a></li>
				</ul>
				<!-- Tab panes -->
				<% if @products.empty? %>
					Hiện chưa có sản phẩm nào trong mục này.
				<% end %>
				<div class="tab-content clear-style">
					<div class="tab-pane active" id="pill-1">						
						<div class="row masonry-grid-fitrows grid-space-10">
						  <% @products.each do |product| %>
								<div class="col-xs-6 col-md-4 masonry-grid-item">
									<div class="listing-item white-bg bordered mb-20">
										<div class="overlay-container">
											<div class="img-product">
  										  <%= image_tag(product.image_url) %>
  										</div>
											
  											<a class="overlay-link" data-toggle="modal", data-target="#myModal<%=product.id%>">
  												<i class="fa fa-search-plus"></i>
												</a>
											
											<!--QUICKVIEW START-->
											<div class="modal fade" id="myModal<%=product.id%>" tabindex="-1" role="dialog" aria-labelledby="myModal<%=product.id%>" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" >
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
											<div class="links"  style="text-align:center;>
												<span class="small"">
													<!--<a href="#" class="btn-md-link" style="color: white;"><i class="fa fa-heart-o pr-10"></i>Yêu thích</a>-->
													<%= link_to  detail_path(id: product.id) , method: :get, data: { no_turbolink: true }, class: "btn-md-link", style: "color: white;" do %><i class="icon-link pr-5"></i> Xem chi tiết<%end%>
												</span>
											</div>
										</div>
										<div class="modal-body">
											<div class="owl-carousel content-slider-with-controls" id='slider-image-quickview'>
																			<div class="overlay-container overlay-visible">
																				<img class="lazyload" src="<%=image_path('loading.svg')%>" style="margin:auto" data-src="<%=product.image_url%>">
																				
																			</div>
																			<% product.more_images.each do |more_image| %>
																				<div class="overlay-container overlay-visible">
																					<img class="lazyload" src="<%=image_path('loading.svg')%>" style="margin:auto" data-src="<%= more_image.url %>">
																					
																				</div>
														          <% end %>
																		</div>
											
											
											
										</div>
										
									</div>
								</div>
							</div>
											<!--QUICKVIEW END-->
											<% if product.discount > 0%>
												<span class="badge"><%= product.discount %>% off</span>
											<% end %>
											
											<div class="overlay-to-top links">
												<span class="small">
													<!--<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Yêu thích</a>-->
													<%= link_to  detail_path(id: product.id) , method: :get, data: { no_turbolink: true }, class: "btn-sm-link" do %><i class="icon-link pr-5"></i> Xem chi tiết<%end%>
												</span>
											</div>
										</div>
										<div class="body">
											<h3><%= link_to  detail_path(id: product.id) , method: :get, data: { no_turbolink: true } do %><%= product.title %> <%end%></h3>
											<p class="small"><%= truncate(strip_tags(product.description), length: 50)%></p>
											<div class="elements-list clearfix">
												<span class="price"><%= formatted_price(product.price * (100 - product.discount)/100)%></span>
												<%= link_to detail_path(id: product.id) , method: :get, data: { no_turbolink: true }, class: "pull-right margin-clear btn btn-sm btn-default-transparent btn-animated", id: "addtocart" do  %>
  											   Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
											  <% end %>
											  
											</div>
										</div>
									</div>
								</div>
						  <% end %>
						</div>
					</div>
				</div>
				<!-- pills end -->
				<!-- pagination start -->
				<nav class="text-center">
					<ul class="pagination">
						<%= will_paginate @products, remote: true, :renderer => BootstrapPaginationHelper::LinkRenderer, container: false,:previous_label => '<i class="fa fa-angle-left"></i>', :next_label => '<i class="fa fa-angle-right"></i>'%>
					</ul>
				</nav>
				<!-- pagination end -->
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
