
<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Câu hỏi thường gặp</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p>Tại đây, bạn có thể tìm thấy câu trả lời cho những thắc mắc của bạn về quá trình mua sản phẩm của website cũng như những chính sách ưu đãi khách hàng chỉ có ở Fa#. Nếu bạn không tìm thấy câu trả lời thỏa đáng hãy đặt câu hỏi ở cột bên và chúng tôi sẽ đáp lại trong thời gian sớm nhất.</p>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs style-1" role="tablist">
								<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa  fa-life-saver pr-10"></i>Trợ giúp kĩ thuật</a></li>
								<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>Quá trình mua sắm</a></li>
								<li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Khuyến mại & Quà tặng</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi đăng ký nhưng website lại báo lỗi.
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse">
												<div class="panel-body">
													Bạn hãy kiểm tra lại thông tin mình điền vào form đăng ký một lần nữa và đảm bảo là thông tin bạn đưa ra là chính xác. 
													Những lỗi thường gặp như địa chỉ email không đúng format, người dùng không ghi đầy đủ họ tên, địa chỉ hay số điện thoại không đúng.
													Bạn hãy chú ý đến những lỗi được website thông báo ở đầu trang và sửa theo. 
													<br>Nếu vẫn lỗi vẫn tiếp tục xảy ra, mong bạn liên hệ với chúng tôi tại <a target="_blank" href="/static_pages/contact_us">đây</a>.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi đăng ký thành công nhưng không đăng nhập được.
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
													Nếu là lần đầu tiên đăng nhập sau khi đăng ký, bạn hãy kiểm tra email của mình và click vào đường link xác nhận email được gửi bởi Fa#.
													Bạn hãy kiểm tra lại thông tin đăng nhập một lần nữa và đảm bảo là email và mật khẩu đã được gõ chính xác. 
													Những lỗi thường gặp như địa chỉ email không đúng format, hoặc Capslock bật khi gõ mật khẩu.
													<br>Nếu vẫn lỗi vẫn tiếp tục xảy ra, mong bạn liên hệ với chúng tôi tại <a target="_blank" href="/static_pages/contact_us">đây</a>.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Làm thế nào để tôi tìm lại được những sản phầm mình đã mua.
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
												<div class="panel-body">
													Sau khi đăng nhập, bạn có thể ấn vào nút "Tài khoản" ở góc trên bên phải, sau đó vào tab "Lịch sử mua hàng" để xem lại những sản phầm bạn đã mua.
													Ngoài ra, với mỗi đơn hàng Fa# còn gửi cho bạn hóa đơn điện tử vào email để bạn dễ dàng tìm lại.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi có kiểm tra được đơn hàng của tôi đang ở đâu không? Bao giờ thì tôi nhận được sản phẩm?
													</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
												<div class="panel-body">
													Với mỗi đơn hàng đặt tại Fa#, bạn sẽ nhận được hóa đơn qua email với một đường link để theo dõi trạng thái của đơn hàng ở cuối email. 
													Ngoài ra bạn có thể vào "Tài khoản" -> "Lịch sử mua hàng" để xem chi tiết thông tin cũng như trạng thái của từng đơn hàng mà bạn đã đặt.
													<br>Bạn cũng có thể liên hệ tới hotline của chúng tôi hoặc gửi lời nhắn tại <a target="_blank" href="/static_pages/contact_us">đây</a>.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi có câu hỏi khác.
													</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<div class="panel-body">
													Mong bạn hãy liên hệ với chúng tôi tại <a target="_blank" href="/static_pages/contact_us">đây</a>. 
													Nhân viên kĩ thuật của chúng tôi sẽ liên hệ với bạn trong thời gian gần nhất.
												</div>
											</div>
										</div>
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseSix" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur! Sit dolore minus cumque quam commodi eaque impedit, nulla ex repellat tempora suscipit quaerat voluptates incidunt optio reiciendis illum voluptatum eveniet cum obcaecati ad saepe necessitatibus voluptas. Sunt ullam maxime eaque voluptatibus quia consequuntur, illum? Iure provident officiis animi, ratione minima at consequatur doloremque tenetur. Sapiente recusandae dolore reprehenderit velit autem consequuntur cumque eum illo tempora nobis praesentium laborum eius, provident vitae eveniet, porro in eligendi veniam magni dolorum rem quibusdam. Iure error, esse aliquam necessitatibus repellendus magnam nemo dolorum. Dolorem a veritatis iste provident, numquam ex, voluptates dolorum placeat.-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeven" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseSeven" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEight" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseEight" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae soluta mollitia quia vel amet nobis? Ipsa dolores ipsum laudantium perferendis placeat molestias libero aliquam officia obcaecati maiores sunt esse quisquam laboriosam impedit commodi rerum eius ipsam quaerat reiciendis quis tempora necessitatibus veniam beatae, ad architecto. Assumenda quia ipsum expedita veritatis facere magni error ullam, maiores numquam! Facilis repellat, iste maxime blanditiis vel ullam rerum! Velit numquam sint maxime illum aut porro, praesentium non quibusdam vel necessitatibus ullam omnis ad veniam libero autem, voluptatem voluptatibus, consequatur commodi harum. Dignissimos doloremque nihil dolores incidunt, at facilis corporis unde deserunt alias consequatur voluptatibus cupiditate sint quaerat reiciendis, culpa maiores dolorem ipsam ab ratione totam ut laboriosam eos magni? Laboriosam nisi, delectus earum soluta quam nemo aut, eveniet sapiente modi a est, nobis unde iure alias doloribus. Non laboriosam quasi placeat repudiandae temporibus delectus!-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseNine" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseNine" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTen" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Assumenda reprehenderit minus quas odit obcaecati unde.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseTen" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit minus quas odit obcaecati unde, necessitatibus id sit corrupti dolore, pariatur, rem officiis sequi quasi molestiae magnam enim laudantium maxime vel commodi adipisci illo non quibusdam porro accusamus. Tempora ducimus ut quis pariatur ex quasi deserunt, voluptatum consectetur odit. Architecto magnam ipsa quam, repellat praesentium, minima dignissimos minus maxime expedita? Quam esse culpa ipsa. Sunt eveniet veniam expedita, voluptates veritatis. Quo natus officia porro perspiciatis, itaque est illo. Quod, laboriosam esse nostrum officia facere dolor quos nihil provident aliquid veritatis, sequi necessitatibus quasi at blanditiis illo omnis beatae ratione, voluptatem nemo voluptatibus mollitia cumque fugiat. Consectetur impedit porro hic corporis? Quod qui, similique cum eum deleniti omnis neque corrupti illum quibusdam incidunt, iure quisquam vero non asperiores debitis suscipit nobis delectus consequatur voluptatibus sapiente amet iusto magnam voluptate rerum. Repellat nam autem quidem temporibus natus quaerat facere porro! Rem, inventore.-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEleven" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseEleven" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Eius repellendus voluptas molestiae, voluptatem, debitis ea iure quam repellat incidunt minus facere magnam, officiis consequuntur rerum. Ratione accusamus delectus quam nisi repellendus dolore quos incidunt officia asperiores, quisquam quis recusandae odit perspiciatis cumque eum modi dolorum velit tempore laboriosam totam! Veritatis similique beatae vel eum ad quidem, officia hic autem facilis et architecto reiciendis recusandae sint, ullam rerum quisquam voluptas ipsa alias ea excepturi a ab labore? Ipsum quod laboriosam vitae nostrum saepe nobis beatae ducimus rem tempore omnis et iste, illum reprehenderit maxime sequi aliquam atque, consequuntur corrupti libero debitis autem molestias. Cum vitae rerum autem libero ea? Culpa at voluptatem minus et, consequuntur blanditiis, similique aliquam dolorum quos accusantium atque. Temporibus neque aut libero unde, odit nihil architecto perferendis fugit molestiae laborum quod perspiciatis accusamus commodi dolorem illo nobis quis debitis asperiores, facilis dicta quos? Quam maxime laborum aut ratione fuga, esse sit quia rerum odio assumenda nobis magnam!-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
									</div>
									<!-- accordion end -->
								</div>
								<div class="tab-pane fade" id="tab2">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq-2">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseOne-2"  class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Cảnh báo số lượng sản phẩm là gì? Tại sao lại có tính năng này?
													</a>
												</h4>
											</div>
											<div id="collapseOne-2" class="panel-collapse collapse">
												<div class="panel-body">
													Vì đặc thù thời trang thiết kế là mặt hàng được sản xuất với số lượng rất nhỏ, lượng sản xuất không đều đặn mà tùy theo nhu cầu của khách hàng, nên dễ xảy ra trường hợp hết hàng. 
													Vậy nên khi số lượng sản phẩm xuống thấp hơn mức cho phép, Fa# sẽ cảnh báo khách hàng rằng Fa# cần phải xác định lại với nhà cung cấp sản phẩm trước khi nhận đơn hàng của quý khách. 
													Một khi Fa# xác nhận sản phẩm còn trong kho, Fa# sẽ thông báo với quý khách rằng đơn hàng đã được đặt thành công. 
													<br>Bạn có thể xem thêm thông tin về tính năng cảnh báo số lượng sản phẩm tại <a target="_blank" href="/static_pages/policy">đây</a>.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTwo-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Làm thế nào để tôi sử dụng phiếu coupon giảm giá 10% khi đăng ký?
													</a>
												</h4>
											</div>
											<div id="collapseTwo-2" class="panel-collapse collapse">
												<div class="panel-body">
													Tại trang "Thanh toán" bạn sẽ có quyền chọn một trong những coupon mà bạn sở hữu để áp dụng với đơn hàng hiện tại.
													Phần giảm giá sẽ tự động được trừ vào phần tiền bạn phải trả (không bao gồm phí vận chuyển).
													<br>Chú ý: Bạn phải đăng nhập để dùng những phiếu coupon của mình.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseThree-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi có câu hỏi khác.
													</a>
												</h4>
											</div>
											<div id="collapseThree-2" class="panel-collapse collapse">
												<div class="panel-body">
													Mong bạn hãy liên hệ với chúng tôi tại <a target="_blank" href="/static_pages/contact_us">đây</a>. 
													Nhân viên chăm sóc khách hàng của chúng tôi sẽ liên hệ với bạn trong thời gian gần nhất.
												</div>
											</div>
										</div>
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFour-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Quam labore soluta aspernatur a optio incidunt molestias.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseFour-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Quam dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis voluptas magni vero assumenda quidem odit beatae ullam eaque et nesciunt saepe officia cupiditate expedita laboriosam quae. Ea suscipit eius repellat rem voluptate consectetur quaerat, similique architecto enim fugiat vitae dolorem expedita. Voluptatum, repellendus dolores iure sit, necessitatibus repellat nemo atque provident perferendis ducimus. Distinctio quisquam perspiciatis vero error quos cum, ea culpa similique magni, iure ipsam amet fuga voluptatem assumenda! Labore soluta aspernatur a optio incidunt molestias consequatur minus molestiae nisi, iusto officiis eaque ipsam magni doloremque cum pariatur delectus dolore quae vero nobis esse enim, iste. Molestias maxime, odit, ducimus ab libero architecto vel accusantium et beatae excepturi incidunt obcaecati?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFive-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseFive-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Ipsam quod impedit, ea necessitatibus quasi, quis rem nemo laboriosam labore, temporibus fugit placeat, consectetur eaque qui amet! Cum ab nulla voluptatibus, velit eius tempore veniam, quos voluptate iusto commodi error, obcaecati debitis, qui ad reiciendis officiis cumque! Repudiandae quos distinctio dolor consequatur commodi quae iusto beatae, laborum saepe enim voluptates tempore tenetur expedita eveniet eius recusandae id eaque, sequi illo neque. Illo voluptate molestias harum quas, accusantium placeat consectetur dignissimos. Perspiciatis architecto accusamus pariatur similique porro expedita ad commodi delectus illum a consequuntur laboriosam fugit libero nisi non, amet fugiat, ducimus, quia? Maiores ex mollitia eos labore, cupiditate neque earum perferendis consequatur pariatur quis sunt repellendus dolores veritatis dicta nemo expedita. Impedit unde totam sint! Eius consequuntur ipsam dolorem, debitis, ea ipsa eum nulla ullam dolorum autem necessitatibus. Repudiandae vero incidunt at cum ipsa illum autem reprehenderit nisi, cupiditate modi ab voluptatum asperiores ullam? Nobis ipsum deleniti odio facilis pariatur omnis reiciendis expedita minima eveniet delectus quam assumenda modi nesciunt excepturi magni maxime, asperiores illum optio fugiat. Ullam sit, a et!-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSix-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseSix-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur! Sit dolore minus cumque quam commodi eaque impedit, nulla ex repellat tempora suscipit quaerat voluptates incidunt optio reiciendis illum voluptatum eveniet cum obcaecati ad saepe necessitatibus voluptas. Sunt ullam maxime eaque voluptatibus quia consequuntur, illum? Iure provident officiis animi, ratione minima at consequatur doloremque tenetur. Sapiente recusandae dolore reprehenderit velit autem consequuntur cumque eum illo tempora nobis praesentium laborum eius, provident vitae eveniet, porro in eligendi veniam magni dolorum rem quibusdam. Iure error, esse aliquam necessitatibus repellendus magnam nemo dolorum. Dolorem a veritatis iste provident, numquam ex, voluptates dolorum placeat.-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseSeven-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseSeven-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEight-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseEight-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae soluta mollitia quia vel amet nobis? Ipsa dolores ipsum laudantium perferendis placeat molestias libero aliquam officia obcaecati maiores sunt esse quisquam laboriosam impedit commodi rerum eius ipsam quaerat reiciendis quis tempora necessitatibus veniam beatae, ad architecto. Assumenda quia ipsum expedita veritatis facere magni error ullam, maiores numquam! Facilis repellat, iste maxime blanditiis vel ullam rerum! Velit numquam sint maxime illum aut porro, praesentium non quibusdam vel necessitatibus ullam omnis ad veniam libero autem, voluptatem voluptatibus, consequatur commodi harum. Dignissimos doloremque nihil dolores incidunt, at facilis corporis unde deserunt alias consequatur voluptatibus cupiditate sint quaerat reiciendis, culpa maiores dolorem ipsam ab ratione totam ut laboriosam eos magni? Laboriosam nisi, delectus earum soluta quam nemo aut, eveniet sapiente modi a est, nobis unde iure alias doloribus. Non laboriosam quasi placeat repudiandae temporibus delectus!-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseNine-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseNine-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTen-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Assumenda reprehenderit minus quas odit obcaecati unde.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseTen-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit minus quas odit obcaecati unde, necessitatibus id sit corrupti dolore, pariatur, rem officiis sequi quasi molestiae magnam enim laudantium maxime vel commodi adipisci illo non quibusdam porro accusamus. Tempora ducimus ut quis pariatur ex quasi deserunt, voluptatum consectetur odit. Architecto magnam ipsa quam, repellat praesentium, minima dignissimos minus maxime expedita? Quam esse culpa ipsa. Sunt eveniet veniam expedita, voluptates veritatis. Quo natus officia porro perspiciatis, itaque est illo. Quod, laboriosam esse nostrum officia facere dolor quos nihil provident aliquid veritatis, sequi necessitatibus quasi at blanditiis illo omnis beatae ratione, voluptatem nemo voluptatibus mollitia cumque fugiat. Consectetur impedit porro hic corporis? Quod qui, similique cum eum deleniti omnis neque corrupti illum quibusdam incidunt, iure quisquam vero non asperiores debitis suscipit nobis delectus consequatur voluptatibus sapiente amet iusto magnam voluptate rerum. Repellat nam autem quidem temporibus natus quaerat facere porro! Rem, inventore.-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseEleven-2" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseEleven-2" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Eius repellendus voluptas molestiae, voluptatem, debitis ea iure quam repellat incidunt minus facere magnam, officiis consequuntur rerum. Ratione accusamus delectus quam nisi repellendus dolore quos incidunt officia asperiores, quisquam quis recusandae odit perspiciatis cumque eum modi dolorum velit tempore laboriosam totam! Veritatis similique beatae vel eum ad quidem, officia hic autem facilis et architecto reiciendis recusandae sint, ullam rerum quisquam voluptas ipsa alias ea excepturi a ab labore? Ipsum quod laboriosam vitae nostrum saepe nobis beatae ducimus rem tempore omnis et iste, illum reprehenderit maxime sequi aliquam atque, consequuntur corrupti libero debitis autem molestias. Cum vitae rerum autem libero ea? Culpa at voluptatem minus et, consequuntur blanditiis, similique aliquam dolorum quos accusantium atque. Temporibus neque aut libero unde, odit nihil architecto perferendis fugit molestiae laborum quod perspiciatis accusamus commodi dolorem illo nobis quis debitis asperiores, facilis dicta quos? Quam maxime laborum aut ratione fuga, esse sit quia rerum odio assumenda nobis magnam!-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
									</div>
									<!-- accordion end -->
								</div>
								<div class="tab-pane fade" id="tab3">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq-3">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseOne-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Mã giới thiệu là gì?
													</a>
												</h4>
											</div>
											<div id="collapseOne-3" class="panel-collapse collapse">
												<div class="panel-body">
													Mã giới thiệu là một chuỗi chữ và số mà bạn nhận được khi đăng ký thành công với Fa#. 
													Khi bạn giới thiệu với người khác sản phẩm của Fa#, và người đó đăng ký và điền mã giới thiệu của bạn vào ô "Mã giới thiệu" trong form đăng ký, bạn sẽ nhận được phiếu coupon giảm giá 5% khi người đó mua sản phẩm đầu tiên.
													<br>Xem thêm tại <a target="_blank" href="/static_pages/policy#chuong-trinh-khuyen-mai">đây</a> để biết thêm chi tiết. 
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseTwo-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Điểm tích lũy là gì?
													</a>
												</h4>
											</div>
											<div id="collapseTwo-3" class="panel-collapse collapse">
												<div class="panel-body">
													Điểm tích lũy là một hình thức Fa# tri ân những khách hàng trung thành của mình. 
													Khi đặt một đơn hàng thành công tại Fa#, bạn sẽ nhận được thêm 01 (một) điểm vào tài khoản của mình. 
													Khi đạt đến một số điểm nhất định, bạn có thể quy đổi điểm này thành những quà tặng giá trị của Fa#.
													<br>Xem thêm tại <a target="_blank" href="/static_pages/policy#chuong-trinh-khuyen-mai">đây</a> để biết thêm chi tiết. 
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseThree-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi có thể dùng điểm tích lũy và phiếu giảm giá để đổi lấy quà tặng của được không?
													</a>
												</h4>
											</div>
											<div id="collapseThree-3" class="panel-collapse collapse">
												<div class="panel-body">
													Hoàn toàn được! Bạn có thể dùng điểm tích lũy hoặc phiếu giảm giá không dùng đến, hoặc cả hai để đổi lấy những phần quà tặng hấp dẫn của Fa#. 
													Một khi bạn có đủ số điểm và phiếu giảm giá, hãy liên hệ với chúng tôi và những món quà giá trị sẽ được trao tận tay bạn trong đơn hàng tiếp theo.
													<br>Xem thêm tại <a target="_blank" href="/static_pages/policy#chuong-trinh-khuyen-mai">đây</a> để biết thêm chi tiết.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFour-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Tôi có câu hỏi khác.
													</a>
												</h4>
											</div>
											<div id="collapseFour-3" class="panel-collapse collapse">
												<div class="panel-body">
													Mong bạn hãy liên hệ với chúng tôi tại <a target="_blank" href="/static_pages/contact_us">đây</a>. 
													Nhân viên chăm sóc khách hàng của chúng tôi sẽ liên hệ với bạn trong thời gian gần nhất.
												</div>
											</div>
										</div>
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFive-3" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseFive-3" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur! Sit dolore minus cumque quam commodi eaque impedit, nulla ex repellat tempora suscipit quaerat voluptates incidunt optio reiciendis illum voluptatum eveniet cum obcaecati ad saepe necessitatibus voluptas. Sunt ullam maxime eaque voluptatibus quia consequuntur, illum? Iure provident officiis animi, ratione minima at consequatur doloremque tenetur. Sapiente recusandae dolore reprehenderit velit autem consequuntur cumque eum illo tempora nobis praesentium laborum eius, provident vitae eveniet, porro in eligendi veniam magni dolorum rem quibusdam. Iure error, esse aliquam necessitatibus repellendus magnam nemo dolorum. Dolorem a veritatis iste provident, numquam ex, voluptates dolorum placeat.-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
										<!--<div class="panel panel-default">-->
										<!--	<div class="panel-heading">-->
										<!--		<h4 class="panel-title">-->
										<!--			<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseSix-3" class="collapsed">-->
										<!--				<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.-->
										<!--			</a>-->
										<!--		</h4>-->
										<!--	</div>-->
										<!--	<div id="collapseSix-3" class="panel-collapse collapse">-->
										<!--		<div class="panel-body">-->
										<!--			Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae assumenda, atque cumque voluptatum nam unde praesentium fugiat in dolores recusandae eveniet at quas. Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta odit reiciendis a! Molestiae quisquam ad, dolorum assumenda. Eaque ab aliquam consequuntur accusamus, quidem facilis similique veritatis tenetur perspiciatis natus corrupti laboriosam itaque magni fuga, nemo eos esse, molestias, quibusdam eius alias dolores magnam. Voluptatibus?-->
										<!--		</div>-->
										<!--	</div>-->
										<!--</div>-->
									</div>
									<!-- accordion end -->
								</div>
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Hỏi trực tiếp chúng tôi</h3>
									<div class="separator-2"></div>
									<!--<div class="alert alert-success hidden" id="MessageSent3">-->
									<!--	We have received your message, we will contact you very soon.-->
									<!--</div>-->
									<!--<div class="alert alert-danger hidden" id="MessageNotSent3">-->
									<!--	Oops! Something went wrong please refresh the page and try again.-->
									<!--</div>-->
									
									<!--Contact us send mail form-->
									<%= form_tag contact_us_mail_path, class: "margin-clear" do %>
										<div class="form-group has-feedback">
											<label for="name3">Họ và Tên*</label>
											<%= text_field_tag :name, params[:name], class: "form-control", id: "name3", :required => true%>
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="email3">Email*</label>
											<%= email_field_tag :email, params[:email], class: "form-control", id: "email3", :required => true%>
											<i class="fa fa-envelope form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="subject">Tiêu đề*</label>
											<%= text_field_tag :subject, params[:subject], class: "form-control", id: "subject", :required => true%>
											<i class="fa fa-navicon form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="message3">Nội dung*</label>
											 <%= text_area_tag :message, params[:message],class: "form-control", rows: 4, id: "message3", :required => true%>
											<i class="fa fa-pencil form-control-feedback"></i>
										</div>
										<button type="submit" class="submit-button btn btn-default">Hoàn tất</button>
									<% end %>
									<!--End contact us send mail form-->
					
								</div>								
								<div class="block clearfix">
									<h3 class="title">Chăm sóc khách hàng</h3>
									<div class="separator-2"></div>
									<p>Fa# luôn nỗ lực không ngừng nằm nâng cao chất lượng dịch vụ và mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất.
									Đối với bất kì phản hồi về dịch vụ của Fa#, vui lòng liên hệ Customer Service tại <a target="_blank" href="/static_pages/contact_us">đây</a>.</p>
								</div>							
							</div>
						</aside>
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->