Xin chào <%=@name%>,
<p>Cảm ơn bạn đã liên hệ với Fa#. Chúng tôi đã tiếp nhận yêu cầu của bạn và sẽ xử lý trong thời gian ngắn nhất. Nội dung yêu cầu</p>
<br>--------------------------------------
<p>Họ và Tên: <%=@name%></p>
<p>Tiêu đề: <%=@subject%></p>
<p>Lời nhắn: <%=@message%></p>
--------------------------------------
<br>
<p>Nếu bạn có thêm yêu cầu, hãy liên hệ với chúng tôi tại <%= link_to "đây","https://fathang.com/static_pages/contact_us", method: :get%> hoặc gọi tới tổng đài chăm sóc khách hàng của Fa#.</p>
<p>Fa# Team</p>