<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :type_value %><br>
    <%= f.select :type_value, Coupon::TYPE_VALUE, prompt: "Chọn kiểu giá trị", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :type_user %><br>
    <%= f.select :type_user, Coupon::TYPE_USER, prompt: "Chọn kiểu đối tượng", class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
