<section class="main-container">
<div class="container">
	<div class="row">
		<!-- main start -->
		<!-- ================ -->
		<div class="main col-md-12">
			<!-- page-title start -->
			<!-- ================ -->
			<h1 class="page-title">Giỏ hàng</h1>
			<div class="separator-2"></div>
			<!-- page-title end -->
			<div class="table-responsive">
				<table class="table cart table-hover table-colored">
					<thead>
						<tr>
							<th>Sản phẩm</th>
							<th>Size</th>
							<th>Màu</th>
							<th>Giá</th>
							<th>Số lượng</th>
							<th>Xóa</th>
							<th class="amount">Thành giá </th>
						</tr>
					</thead>
					<tbody>
						<% @cart.cart_items.each do |item| %>
							<tr class="remove-data">
								<td class="product"><small><%= item.subproduct.product.title %></small></td>
								<td class="product"><small><%= item.subproduct.size %></small></td>
								<td class="product"><small><%= item.subproduct.color %></small></td>
								<td class="price"><%= formatted_price(item.subproduct.product.price * (100 - item.subproduct.product.discount) / 100 )%></td>
								<td class="quantity">
									<%= item.quantity %>										
								</td>
								<td class="remove"><%= link_to 'Xóa', item, method: :delete, data: { confirm: 'Bạn có chắc chắn muốn xóa sản phẩm này không?' }, class: "btn btn-sm btn-default"%></td>
								<td class="amount"><%= formatted_price(item.total_price) %></td>
							</tr>
						<% end %>
						<tr>
							<td class="total-quantity" colspan="6">Tổng cộng <%= @cart.cart_items.count %> sản phẩm</td>
							<td class="total-amount"><%= formatted_price(@cart.total_price) %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-right">
				<%= link_to "Thanh toán", new_order_path, method: :get, class: "btn btn-group btn-default" %>
			</div>

		</div>
		<!-- main end -->

	</div>
</div>
</section>